<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="fr.ebiz.cdb" level="debug" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root level="error">
		<appender-ref ref="stderr" />
	</root>

</configuration>